<!--
<%= form_with url: '/players', method: :post, local: true  do |form|  %>
  <% Player.attribute_names.each do |attribute| %>
    <p><%= form.label :"#{attribute}"%>
    <%= form.text_field :"#{attribute}"%></p>
  <% end %>
  <%= form.submit "Create Player" %>
<% end %>
-->

<%= form_with url: '/players', method: :post, local: true  do |form|  %>
  <%= form.label :name%>
  <%= form.text_field :name%><br>
  <%= form.label :Rating%>
  <%= form.number_field :Rating%><br>
  <%= form.label :professional, "Yes"%>
  <%= form.radio_button :professional, value=true%>
  <%= form.label :professional, "No"%>
  <%= form.radio_button :professional, value=false%><br>
  <%= form.submit "Create Player" %>
<% end %>