<h2>Player Data</h2>
<% @player.attribute_names.each do |attribute| %>
  <p><%= "#{attribute}: " + "#{@player[attribute]}"   %></p>
<% end %>

<p><a href=<%="/players/#{@player.id}/games"%>>Games Played:</a> <%= @count %></p>

<%= button_to "Update Player", "/players/#{@player.id}/edit", method: :get%>
<%= button_to "Delete Player", "/players/#{@player.id}", method: :delete%>